.homeBakery{
   grid-column-start: 1;
   grid-column-end: 4;
   width: 1500px;
   height: 30vh;
   grid-row: 1;
   object-fit: cover;
   margin: auto; 
}

.menuGrid{
   display: grid;
   box-sizing: border-box;
   border: solid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(8, 1fr) ;
   grid-row: 3;
   grid-column: 2;
   background-color: whitesmoke;
}

#homePage{
   display: grid;
   margin: auto;
   grid-row: 3;
   grid-column: 2;

   
}

.homeParagraph{
   margin: auto;
}

#navBar{
   display: grid;
   margin: auto;
   width: 300px;
   height: 100px;
   grid-template-columns: 100px 100px 100px;
   grid-template-rows: 1fr;
   grid-row: 2;
   grid-column: 2;
}

#menuButton{
   margin: auto;
   border-radius: 10px;
}

#homeButton{
   margin: auto;
   border-radius: 10px;
}

#contactButton{
   margin: auto;
   border-radius: 10px;
}

.menuItem{
   margin: auto;
   margin: 10px 10px 10px 10px;
   font-size: medium;
   text-decoration: tomato;
    display: block;
    width: 100px;
    height: 100px;
    background-color: wheat;
    transition: width 2s, height 2s, background-color 2s, transform 0.5s;
}


#menuItem0:hover {
   background-color: #FFCCCC;
   width: 200px;
   height: 150px;
   transform: scale(1);
   background-image:url("/dist/matcha.png");
}

#menuItem1:hover {
   background-color: #FFCCCC;
   width: 200px;
   height: 150px;
   transform: scale(1);
   background-image:url("/dist/breadLoaf.png");
}

#content{
   display: grid;
   grid-template-rows: 1fr 106px 60vh;
   grid-template-columns: 1fr 1fr 1fr;
   background-color: wheat;
}

#menuBar{
   grid-row: 2;
   box-sizing: border-box;
}

.menuItem{
   display: grid;
   width: 200px;
   height: 75px;
   text-align: center;
   justify-content: center;
   align-content: center;
}
#menuItem0{
   grid-column: 2;
}

#menuItem1{
   grid-column: 3;
}

