.homeBakery{
   grid-column-start: 1;
   grid-column-end: 4;
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin: auto; 
   grid-area: header;
}

#content{
   display: grid;
   grid-template-rows: 200px 106px 20px 60vh 60vh;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   background-color: wheat;
   grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr;
   grid-template-areas: 
   "header header header header"
   "nav nav nav nav"
   "line line line line"
   "content0 content0 content0 content0"  
   ;
   
}

#hrLine{
   grid-column-end: 4;
   grid-column-start: 1;
   grid-row: 3;
   border: 1px solid gray;
   margin: auto;
   width: 90%;
   grid-area: line;
}

#homePage{
   display: grid;
   margin: auto;
   grid-template-columns: repeat(3, 0.3fr);
   grid-template-rows: repeat(3, 0.3fr);
   grid-area: content0;
}

#home0{
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row: 1;
}

#home1{
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row: 2
}

#homeGif{
         display: block;
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 2;
      object-fit: cover;
      margin: auto;
      grid-column-end: 4;
      max-width: 100%;
      max-height: 100%;
      }


#contactPage{
   display: grid;
   margin: auto;
   grid-row: 5;
   grid-column: 2;
   grid-area: content0;
}

#map{
   display: block;
   grid-row-start: 2;
   grid-row-end: 5;
   grid-column-start: 2;
   object-fit: cover;
   margin: auto;
   grid-column-end: 4;
   max-width: 100%;
   max-height: 100%;;

}

.text{
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   color: black;
   margin:auto;
   animation: fadeIn linear 1s;
 }

 
#navBar{
   display: grid;
   margin: auto;
   width: 300px;
   height: 100px;
   grid-template-columns: 100px 100px 100px;
   grid-template-rows: 1fr;
   grid-area: nav;
}

#menuButton{
   margin: auto;
   border: none;
}

#homeButton{
   margin: auto;
   border: none;
}

#contactButton{
   margin: auto;
   border: none;
}

#contactPage{
   display: grid;
   grid-row-end: 6;
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row-start: 2;
   width: 80%;
   height: 80%;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 100px repeat(5, 150px);
   grid-area: content0;
}

#contact0{
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row: 5;
   margin: 10px auto;
}

#contact1{
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row: 5;
}

.contactText{
   grid-row-start: 5;
   grid-row-end: 6;
   grid-column-start: 2;
   grid-column-end: 4;
}
.menuGrid{
   display: grid;
   grid-area: content0;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
   grid-template-areas: 
   " . menu menu  ."
   "image0 item0 image1 item1"
   "image2 item2 image3 item3"
   ". . . ."
   ". . . ."
   ;
}

#menuSign{
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
   grid-column-start: 2;
   grid-column-end: 4;
   margin: auto;
   grid-area: menu;
}

 #menuImage0{
    grid-row: 2;
    grid-column: 1;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin: 10px 10px 10px 20px;
    background-image: url("/dist/matchaBread.png");
    background-color: black;
    grid-area: image0;
 
 }

 #menuImage1{
    grid-row: 2;
    grid-column: 3;
    margin: 10px 10px 10px 20px;
    background-image:url("/dist/breadLoaf.png");
    grid-area: image1;
  
 }


#menuImage2{
   grid-row: 3;
   grid-column: 1;
   margin: 10px 10px 10px 20px;
   background-image:url("/dist/marbleLoaf.png");
   grid-area: image2;
}


#menuImage3{
   grid-row: 3;
   grid-column: 3;
   margin: 10px 10px 10px 20px;
   background-image:url("/dist/coffeeBun.png");
   grid-area: image3;
}


#menuBar{
   grid-row: 2;
   box-sizing: border-box;
}

.menuItem{
   display: grid;
   width: 200px;
   height: 75px;
   text-align: center;
   justify-content: center;
   align-content: center;
}
#menuItem0{
   grid-column: 2;
   grid-row: 2;
   grid-area: item0;
}

#menuItem1{
   grid-column: 4;
   grid-row: 2;
   grid-area: item1;
}

#menuItem2{
   grid-column: 2;
   grid-row: 3;
   grid-area: item2;
}

#menuItem3{
   grid-column: 4;
   grid-row: 3;
   grid-area: item3;
}

@media screen and (max-width: 600px) {
   div.text {
     font-size: 30px;
   }
 }

@keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-moz-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-webkit-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-o-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-ms-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
